# Virtual environments
Pymastery/
PythonTut/
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store